@import '../../index.scss';

.services-section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 4rem 0;
	padding-bottom: 5rem;

	.services-parent-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
		max-width: 1380px;
		.services-title {
			color: $primary-font-color;
			font-family: $poppins;
			font-size: 3rem;
			font-weight: 600;
			margin-bottom: 2rem;
		}
		.services-container {
			padding: 20px 0;
			.service-img {
				width: 70px;
				margin: 1rem;
			}
			.services-list-container {
				.service-row-1 {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					grid-gap: 5rem;
				}

				.single-service {
					display: flex;
					flex-direction: column;
					align-items: center;
					cursor: pointer;
					font-family: $poppins;
					font-size: 1rem;
					line-height: 1.4rem;
					margin-bottom: 10px;

					.single-service-title {
						font-size: 1.5rem;
						line-height: 1.7rem;
						font-weight: 600;
						color: $primary-font-color;
						margin: 15px 0;
						text-align: center;
					}
					.service-des {
						color: rgb(160, 160, 160);
						text-align: center;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 970px) {
	.services-section {
		padding: 3rem 0;
		.services-parent-container {
			.services-title {
				font-size: 2.2rem;
				font-weight: 600;
				margin: 0.2rem 0;
			}
			.services-container {
				.services-list-container {
					margin-top: 10px;
					.service-row-1 {
						grid-template-columns: repeat(2, 1fr);
						grid-gap: 2.3rem;
					}
					.single-service {
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.services-section {
		padding-bottom: 30px;
		.services-parent-container {
			.services-title {
				font-size: 1.8rem;
				font-weight: 600;
				margin: 0rem 0;
			}
			.services-container {
				padding: 10px 10px 0 10px;
				.services-list-container {
					.service-row-1 {
						grid-template-columns: repeat(1, 1fr);
						grid-gap: 1rem;
					}
					.single-service {
						margin-bottom: 15px;
						&:hover {
							transform: none;
						}
					}
				}
			}
		}
	}
}
