@import '../../index.scss';

header {
	position: relative;
	width: 100%;
	height: 750px;
	/* 	background: url('./headerbg3.jpg') center center;
	background-size: cover; */
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.2s all ease;
	overflow: hidden;

	/* 	.slash {
		position: absolute;
		top: 750px;
		width: 200%;
		height: 100%;
		background-color: #fff;
		//border-top: 10px solid goldenrod;
		border-radius: 50%;
	} */

	.header-container {
		display: flex;
		justify-content: space-between;
		height: 100%;
		width: 90%;
		max-width: 1380px;
		position: relative;
		z-index: 5;
		font-family: $poppins;

		.header-left-container {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 10px;
			width: 50%;
			.left-title {
				font-size: 3rem;
				font-weight: 700;
				line-height: 4rem;
				color: $primary-font-color;
				transition: 0.1s all ease;
			}
			.left-des {
				margin-top: 1rem;
				color: rgb(67, 67, 67);
				transition: 0.1s all ease;
			}
			.left-btns-cont {
				margin-top: 2rem;
				display: flex;

				.startnow-btn,
				.learnmore-btn {
					cursor: pointer;
					font-size: 1rem;
					color: $blue;
					border: 1px solid #2f43c5;
					outline: none;
					background-color: #2f43c5;
					color: white;
					border-radius: 2px;
					padding: 0.7rem 1.5rem;
					margin-right: 1rem;
					transition: all 0.2s ease;
					box-shadow: 5px 5px 0px #fe8657;
					&:hover {
						box-shadow: 5px 5px 0px #fa5b90;
					}
				}
			}
		}

		.header-right-container {
			position: relative;
			.header-phone {
				margin-top: 160px;
				width: 600px;
				transition: 0.1s all ease;
			}
		}
	}
}

header::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f9dfc8;
	opacity: 0.85;
	z-index: 0;
}

// left content size screen
@media screen and (max-width: 1100px) {
	header {
		.header-container {
			.header-left-container {
				.left-title {
					font-size: 2.5rem;
					line-height: 3rem;
				}
			}
			.header-right-container {
				.header-phone {
					margin-top: 180px;
					width: 550px;
					margin-right: -2rem;
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	header {
		.header-container {
			width: 90vw;
			.header-right-container {
				position: relative;
				.header-phone {
					margin-top: 200px;
					width: 500px;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	header {
		height: 100%;
		.header-container {
			flex-direction: column;
			justify-content: flex-start;
			margin-top: 16vh;
			align-items: center;
			width: 100vw;
			.header-left-container {
				margin-top: 0rem;
				text-align: center;
				width: 90%;
				margin-right: 0;
				.left-title {
					text-align: center;
					font-size: 2.5rem;
					line-height: 3rem;
				}
				.left-des {
					text-align: center;
				}
				.left-btns-cont {
					justify-content: center;
				}
			}
			.header-right-container {
				display: flex;
				justify-content: center;
				.header-phone {
					margin-top: 2rem;
					margin-right: 0rem;
					width: 90%;
					margin-bottom: 30px;
				}
			}
		}
	}
	header::before {
		height: 100%;
	}
}

@media screen and (max-width: 400px) {
	header {
		.header-container {
			.header-left-container {
				text-align: center;
				width: 90%;
				.left-title {
					font-size: 1.5rem;
					line-height: 2rem;
				}
				.left-des {
					font-size: 1rem;
				}
				.left-btns-cont {
					.startnow-btn,
					.learnmore-btn {
						font-size: 1rem;
						padding: 0.4rem 0.8rem;
					}
				}
			}

			.header-phone {
				margin-top: 1.5rem;
				width: 280px;
			}
		}
	}
}

@media screen and (max-width: 300px) {
	header {
		.header-container {
			.header-left-container {
				text-align: center;
				width: 90%;
				.left-title {
					font-size: 1.2rem;
					line-height: 1.5rem;
				}
				.left-des {
					font-size: 0.7rem;
				}
				.left-btns-cont {
					.startnow-btn,
					.learnmore-btn {
						font-size: 0.7rem;
					}
				}
			}

			.header-phone {
				margin-top: 1.5rem;
				width: 250px;
			}
		}
	}
}
