@import '../../variables.scss';

.nav-bg {
	background-color: #fff;
	border-bottom: 1px solid rgba($color: #bfbfbf, $alpha: 0.5);
}

nav {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	z-index: 1000;
	font-family: $poppins;
	width: 100%;
	padding: 1rem 0;
	transition: 0.3s all ease;
	border-bottom: 1px solid rgba($color: #bfbfbf, $alpha: 0);
	.nav-cont {
		display: flex;
		justify-content: space-between;
		width: 90%;
		max-width: 1380px;
		.logo {
			font-size: 2rem;
			font-weight: 600;
			a {
				color: #001d54;
				text-decoration: none;
			}
		}
		.ham-btn {
			display: none;
		}
		ul {
			overflow: hidden;
			.menu-close-btn {
				display: none;
			}
			display: flex;
			align-items: center;
			li {
				list-style: none;
				margin-right: 40px;
				a {
					cursor: pointer;
					font-size: 1rem;
					color: #4f453f;
					text-decoration: none;
				}
				a.nav-btn {
					border-radius: 2px;
					background-color: transparent;
					border: 1px solid #2f43c5;
					padding: 5px 15px;
					color: #2f43c5;
					transition: 0.2s all ease;
					&:hover {
						background-color: #2f43c5;
						color: #fff;
					}
				}

				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}
}

@media screen and (max-width: 1550px) {
	nav {
		.nav-cont {
			width: 90vw;
		}
	}
}

@media screen and (max-width: 1000px) {
	nav {
		.nav-cont {
			ul {
				li {
					margin-right: 30px;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	nav {
		.nav-cont {
			align-items: center;
			.ham-btn {
				color: $primary-font-color;
				cursor: pointer;
				font-size: 2rem;
				display: initial;
			}
			ul {
				.menu-close-btn {
					position: absolute;
					cursor: pointer;
					font-size: 1.5rem;
					display: initial;
					top: 1.5rem;
					right: 1.5rem;
				}
				position: fixed;
				top: 0rem;
				right: -100%;
				width: 70%;
				max-width: 300px;
				flex-direction: column;
				align-items: flex-start;
				padding-left: 30px;
				padding-top: 80px;
				height: 100vh;
				background-color: white;
				box-shadow: -10px 0px 10px rgba($color: #000000, $alpha: 0.2);
				transition: 0.2s all ease-in-out;
				li:first-child {
					margin-top: 20px;
				}
				li {
					margin-bottom: 20px;
					a {
						color: black;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 400px) {
	nav {
		.nav-cont {
			.logo {
				font-size: 1.5rem;
			}
			.ham-btn {
				font-size: 1.5rem;
				display: initial;
			}
		}
	}
}
